<!----start-contact---->
<div class="contact" id="contact">
  <div class="wrap">
    <div class="contact-left">
      <h3>Contact Us</h3>
      <ul class="social">


        <li class="block-item left"><a href="https://www.facebook.com/kiril.shefer" target="_blank"><span><i
          class="fa fa-facebook-square fa-3x"></i></span> </a></li>
        <li class="block-item middle"><a href="https://il.linkedin.com/pub/kirill-shefer/79/37/3a"
                                         target="_blank"><span><i
          class="fa fa-linkedin-square fa-3x"></i></span> </a></li>
        <li class="block-item right"><a href="https://plus.google.com/110974139983200446861/posts"
                                        target="_blank"><span><i class="fa fa-google-plus-square fa-3x"></i></span>
        </a></li>
      </ul>
      <ul class="soc_icons">
        <li><span>{{site.i18n[page.lang].contact_phone}}</span></li>
        <li><span>{{site.i18n[page.lang].contact_cell}}</span></li>
        <li><span>{{site.i18n[page.lang].contact_fax}}</span></li>
      </ul>
      <ul class="soc_icons">
        <li>
          {{site.i18n[page.lang].address1}}<br/>
          <a target="_blank" href="https://www.google.co.il/maps/place/Shmu'el+ha-Nagid+St+1,+Jerusalem/@31.7802024,35.2126942,17z/data=!3m1!4b1!4m5!3m4!1s0x150329d5ff851cb7:0x756a233cd0f7ec7d!8m2!3d31.7802024!4d35.2148829"><span><i class="fa fa-map-marker"></i> {{site.i18n[page.lang].view_on_map}}</span> </a></li>
        <li><span>{{site.i18n[page.lang].address2}}</span></li>
        <li><a href="mailto:kirill@shefer-law.com"><i class="icon_6"></i><span>kirill@shefer-law.com</span>
        </a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="contact-right">
      <div class="form">
        <form id="contactForm">
          <input type="text" name="formName" class="textbox form-name" value="{{ site.i18n[page.lang].form_name }}">
          <input type="text" name="formEmail" class="textbox form-email" value="{{ site.i18n[page.lang].form_email }}">

          <div class="clear"></div>

          <input type="text" name="formPhone" class="textbox form-phone" value="{{ site.i18n[page.lang].form_phone }}">
          <input type="text" name="formSubject" class="textbox form-subject" value="{{ site.i18n[page.lang].form_subject }}">

          <div class="clear"></div>

          <div>
            <textarea name="formMessage" value="Message:" class="form-message">{{ site.i18n[page.lang].form_message }}</textarea>
          </div>
          <div class="submit">
            <input type="submit" value="{{ site.i18n[page.lang].form_send }}" />
          </div>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!----//End-contact---->
<div class="footer">
  <div class="wrap">
    <div class="copy-right">
      {{site.i18n[page.lang].copyright}}
    </div>
    <div class="clear"></div>
  </div>
</div>

<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

<!-- scripts -->
<script>
  var i18n = {
    required: "{{ site.i18n[page.lang].required_field }}",
    form_ok: "{{ site.i18n[page.lang].form_ok }}",
    form_error: "{{ site.i18n[page.lang].form_error }}"
  };
</script>
<script src="{{ site.url }}/js/scripts.js"></script>

{% include site-wide-footer.html %}

</div>
</body>
</html>
