<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="description" content="{{ page.description }}">

  <!--web-fonts -->
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" rel="stylesheet"
        type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Alef:400,700' rel='stylesheet' type='text/css'>


  <!--web-fonts -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/styles.css">
  {% include site-wide-head.html %}

</head>
<body class="is-page-{{page.page_name}} {{page.lang}} {% if page.page_name == 'home'%}home{% else %}inner{% endif %}">
<div class="site">
  <div class="container">
    <div class="wrap">
      <header id="topnav">
        <nav>
          <ul>
            <li><a href="#services" class="scroll">{{site.i18n[page.lang].home}}</a></li>
            <li><a href="#about" class="scroll">{{site.i18n[page.lang].about}}</a></li>
            <li><a href="#clients" class="scroll">{{site.i18n[page.lang].areas_of_expertise}}</a></li>
            <li><a href="#contact" class="scroll">{{site.i18n[page.lang].contact_us}}</a></li>
            <div class="clear"></div>
          </ul>
        </nav>

        <a href="#" id="navbtn">Nav Menu</a>

        <div class="clear"></div>
      </header>
    </div>
    <!--End Wrap-->

    <div class="services" id="home">
      <div class="process-top-grid">
        <div class="wrap">
          <img id="logo" src="{{ site.url }}/images/header.png"/>
          <ul class="lang">
            <li><a href="{{ site.url }}/">English</a></li>
            <li><a href="{{ site.url }}/he/">עברית</a></li>
            <li><a href="{{ site.url }}/ru/">Русский</a></li>
          </ul>

        </div>
        <!--End top-grids-->
      </div>
      <!--End wrap-->
    </div>
    <!--End process-top-grid-->

  </div>
  <!--End Container-->
