<!-- site-wide-head.html -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61562388-1', 'auto');
  ga('send', 'pageview');

</script>

<meta name="google-site-verification" content="Rrtpip4YzfpmHSnTTFTIWLiWJxWrRsX1qaWkTJJ_J7g" />

<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ site.url }}"/>
<meta property="og:image" content="{{ site.url }}/images/logo.png"/>
<meta property="og:site_name" content="{{ site.url }}"/>
