---
layout: default
page_name: "Home"
title: "קיריל שפר, עורך-דין"
description: "ליטיגציה מסחרית, דיני חברות, הסכמים מסחריים, דיני מקרקעין, דיני עבודה, ייעוץ משפטי שוטף עם אוריינטציה עסקית"
permalink: "/he/"
lang: "he"
---

<!---start-services--->
<div class="services" id="about">
  <div class="process-top-grid">
    <div class="wrap">
      <div class="process-top-grid-left">
        <!--<h3>עו"ד קיריל שפר</h3>-->
        <blockquote><p style="margin-top:0px; margin-bottom:10px;">
          «Out of clutter, find simplicity.<br/>From discord, find harmony. In the middle of difficulty
          lies opportunity.»<br/><span>Albert Einstein</span></p></blockquote>
        <img id="jerusalem" src="{{ site.url }}/images/bg_2.png"/>

        <div class="row">


          <div class="column-left">
            <p style="margin-top:0.5em;"><img src="{{ site.url }}/images/avatar.png" alt="avatar"></p>
          </div>

          <div class="column-right">

            <p id="main_text"><br/>
              עו"ד קיריל שפר הינו בעל השכלה בינלאומית רחבה אותה רכש מן המוסדות המובילים בישראל ומחוצה
              לה, לצד ניסיון מקצועי רב.

            </p>

            <p id="main_text">
              שליטתו בשפות עברית, אנגלית ורוסית בשילוב עם נאמנותו המוחלטת לעניינו של הלקוח, מאפשרים
              לעו"ד שפר לייצג באופן המיטבי את האינטרסים של לקוחותיו הישראלים והזרים.
            </p>

          </div>
        </div>
        <div class="sep"></div>
        <ul class="block">
          <li class="block-item left">

            <p>
              לאחר שהשלים התמחות באחד המשרדים המובילים בישראל בתחום הליטיגציה המסחרית, משפט מסחרי ומקרקעין
              – התקבל כחבר בלשכת עורכי הדין בישראל.
            </p>

            <p>
              בשנים הראשונות לאחר קבלתו של כחבר בלשכת עורכי-הדין ובטרם ייסד את משרדו, עו"ד שפר הועסק
              באחד המשרדים המובילים בישראל בתחום ליטיגציה מסחרית, משפט מנהלי, משפט מסחרי, דיני עבודה
              ומקרקעין, שם רכש ידע וניסיון מקצועי רבים בטיפול בנושאים אלה ורבים אחרים.
            </p>

            <p>
              לעו"ד שפר שליטה מלאה בשפות: אנגלית, רוסית ועברית
            </p>

          </li>

          <li class="block-item middle">
            <p>
              בשל הישגיו האקדמיים לצד תרומתו הבולטת לקהילה, עו"ד שפר נבחר לייצג את אוניברסיטת חיפה
              בתכנית חילופי סטודנטים עם "Suffolk University Law School", שבבוסטון, ארה"ב שם התחנך ברזי
              שיטת המשפט האמריקאית לצד פעילות משפטית מעשית בבתי משפט אמריקאים.
            </p>

            <p>
              מיד עם סיום לימודי התואר הראשון, התקבל ללימודי תואר שני במסגרת התכנית האירופאית היוקרתית
              למשפט וכלכלה European Master in Law and Economics אותה סיים בהצלחה וקיבל תואר מוסמך
              (תואר שני (LL.M) מאוניברסיטת בולוניה, איטליה ואוניברסיטת המבורג, גרמניה (תואר כפול) –
              במסלול עם תזה
                (<a href="http://bucerius.haifa.ac.il/images/Completed_research/SheferKirill.pdf" target="_blank">PDF</a>).
            </p>
          </li>

          <li class="block-item right">
            <p>
              עו"ד קיריל שפר נולד במוסקבה, רוסיה ועלה לישראל בשנת 1991.
            </p>


            <p>
              עו"ד שפר הינו בוגר תואר ראשון במשפטים (LL.B.) מאוניברסיטת חיפה ובוגר תואר שני בניתוח
              כלכלי של המשפט (LL.M.) מאוניברסיטת בולוניה, איטליה ואוניברסיטת המבורג, גרמניה (תואר
              כפול).
            </p>

            <p>
              במהלך לימודי התואר הראשון, הרבה לעסוק בפעילות התנדבותית ענפה. בין היתר, שימש כמדריך
              בפרויקט "דירות פתוחות" מטעם דיקנאט הסטודנטים של אוניברסיטת חיפה, התנדב בעמותת על"ם וכן,
              בתנועה למלחמה בעוני (הל"ב) – מתן סיוע משפטי ללא תשלום במגוון נושאים.
            </p>
          </li>

        </ul>

      </div>
      <!--End process-top-grid-left-->
      <div class="clear"></div>
    </div>
    <!--End top-grids-->
  </div>
  <!--End wrap-->
</div>
<!--End process-top-grid-->


<!--End services-->

<!---//end-services----->

<!---start-clients----->
<div class="clients" id="clients">
  <div class="wrap">
    <div class="client-head">
      <h3>תחומי התמחות</h3>

      <p>
        לעו"ד קיריל שפר ניסיון מקצועי רב, בין היתר, בתחומים הבאים:
      </p>

      <ul id="expertise" class="block">
        <li class="block-item left">
          <h4>
            הסכמים מסחריים
          </h4>

          <p style="margin-bottom:0;">
            עריכתם ואכיפתם של הסכמים מסחריים על כל סוגיהם,
            לרבות במיוחד:
          </p>
          <ul>
            <li>
              הייטק, ביוטק, קניין רוחני
            </li>
            <li>
              זכויות יוצרים
            </li>
            <li>
              זכיינות
            </li>
            <li>
              הפצה
            </li>
            <li>
              סוכנות
            </li>
            <li>
              סחר בינלאומי / פנים ארצי, בלעדיות
            </li>
          </ul>
        </li>

        <li class="block-item left"><h4>דיני חברות</h4>

          <p>הקמה וליווי שוטף של חברות ועמותות,
            לרבות: הכנת הסכם מייסדים ורישומו, מתן ייעוץ משפטי שוטף, ניהול אסיפות שנתיות ותקופתיות, ייצוג
            בהליכים מול בתי המשפט ורשויות שלטוניות, פירוק מרצון ובאמצעות בית המשפט.
          </p></li>

        <li class="block-item left">

          <h4>
            ליטיגציה מסחרית
          </h4>

          <p>ניהול הליכי ליטיגציה מורכבים בכל הערכאות המשפטיותת ,לרבות ובמיוחד: בירור סכסוכים עסקיים והתדיינויות בין תאגידים ובין גורמים פרטיים ומשפט מנהלי.
          </p>

        </li>

        <li class="block-item left clear">
          <h4>
            ייעוץ משפטי שוטף עם אוריינטציה עסקית
          </h4>

          <p>

            י​יעוץ ​לאנשי עסקים, חברות וארגונים שונים בישראל ומחוצה לה, בכל תחומי המשפט האזרחי והמסחרי, כגון:
            משא ומתן לכריתת חוזה, מיזוגים, רכישות, דיני חברות, גביית חובות, דיני עבודה וכו'.


          </p>
        </li>

        <li class="block-item left"><h4>

          דיני
          <br/>
          עבודה

        </h4>

          <p>
            ייצוג עובדים ומעבידים במגוון רחב של סכסוכי עבודה, לרבות: פיטורין והתפטרות שלא כדין, אפליה
            במקום העבודה, אי-תשלום שעות נוספות וסכסוכים קיבוציים בין הנהלה לועדי עובדים.
          </p></li>

        <li class="block-item left">
          <h4>דיני
            <br/>
            מקרקעין</h4>

          <p>ליווי עסקאות מקרקעין,
            מכירה וקניה של דירות בשוק הפרטי ומקבלני בנייה; הסכמי שכירות של דירות מגורים ומשרדים; עסקאות
            קומבינציה; תמ"א 38; פינוי בינוי וקבוצות רכישה.
          </p>
          </li>
      </ul>
    </div>


    <div class="clear"></div>
  </div>
</div>

<!--clients-->

<!---//end-clients----->
