---
layout: default
page_name: "Home"
title: "Кирилл Шефер, Адвокат"
description: "Судебные разбирательства бизнес конфликтов, Корпоративное право, Коммерческие договоренности, Юридические аспекты недвижимости, Трудовое право, Коммерчески-ориентированная юридическая консультация"
permalink: "/ru/"
lang: "ru"
---

<!---start-services--->
<div class="services" id="about">
  <div class="process-top-grid">
    <div class="wrap">
      <div class="process-top-grid-left">
        <!--<h3>Адвокат Кирилл Шефер</h3>-->
        <blockquote><p style="margin-top:0px; margin-bottom:10px;">
          &laquo;Out of clutter, find simplicity.<br/>From discord, find harmony. In the middle of difficulty
          lies opportunity.&raquo;<br/><span>Albert Einstein</span></p></blockquote>
        <img id="jerusalem" src="{{ site.url }}/images/bg_2.png"/>

        <div class="row">


          <div class="column-left">
            <p style="margin-top:0.5em;"><img src="{{ site.url }}/images/avatar.png" alt="avatar"></p>
          </div>

          <div class="column-right">

            <p id="main_text"><br/>Адвокат Кирилл Шефер получил широкое международное образование в
              лучших вузах Израиля и Европы, обладает богатым профессиональным опытом.

            </p>

            <p id="main_text">
              Совершенное владение русским, ивритом, английскими языками, в сочетании с полной
              лояльностью, позволяют адвокату Шеферу с максимальной эффективностью представлять
              интересы, как израильских, так и зарубежных клиентов.</p>

          </div>
        </div>
        <div class="sep"></div>
        <ul class="block">
          <li class="block-item left">
            <p>Адвокат Кирилл Шефер родился в Москве и репатриировал в Израиль в 1991 году.</p>

            <p>
              Он является выпускником юридического факультета Хайфского университета (бакалавр права)
              и получил степень магистра в области права и экономики в Университете Болоньи (Италия) и
              в Университет Гамбурга (Германия).
            </p>

            <p>
              На протяжении учебы адвокат Шефер постоянно занимался общественной деятельностью на
              добровольных началах. Так например, он был волонтером в проекте «открытые дома»,
              проводимом деканатом студентов Хайфского Университета, волонтером в ассоциации «Элем»,
              волонтером в движении по борьбе с бедностью, предоставляя бесплатные юридические услуги
              в различных областях.</p>
          </li>

          <li class="block-item middle">
            <p>
              Именно благодаря академическим достижениям и его ярко выраженной общественной
              деятельности, он был выбран представителем Хайфского Университета в программе по обмену
              студентами с Юридическим факультетом университета Саффолк в Бостоне (США).Там он изучал
              американскую правовую систему, а также приобрел опыт работы в американских судах.
            </p>

            <p>
              По окончании первой степени бакалавра Юриспруденции, адвокат Шефер продолжил обучение в
              рамках престижной европейской программы Магистратуры в области Права и Экономики
              (European Master in Law and Economics), которую он успешно закончил, получив двойную
              степень магистра университета Болоньи (Италия) и университета Гамбурга (Германия), а так
              же защитил диссертацию (<a href="http://bucerius.haifa.ac.il/images/Completed_research/SheferKirill.pdf" target="_blank">PDF</a>).
            </p>
          </li>

          <li class="block-item right"><p>
            Пройдя стажировку в одной из ведущих фирм Израиля в области коммерческих конфликтов,
            корпоративного права и недвижимости, он вступил в Израильскую Коллегию Адвокатов.
          </p>

            <p>
              В течении первых лет после вступления в Израильскую Коллегию Адвокатов и до открытия
              своей юридической фирмы, адвокат Шефер работал юристом в одной из ведущих юридических
              фирм Израиля, специализирующейся в области коммерческих конфликтов, административного,
              корпоративного и трудового права а также занимался недвижимостью, набрав значительный
              опыт в этих и многих других областях.
            </p>

            <p>
              Адвокат Шефер в совершенстве владеет русским, английским и ивритом.</p></li>

        </ul>

      </div>
      <!--End process-top-grid-left-->
      <div class="clear"></div>
    </div>
    <!--End top-grids-->
  </div>
  <!--End wrap-->
</div>
<!--End process-top-grid-->


<!--End services-->

<!---//end-services----->

<!---start-clients----->
<div class="clients" id="clients">
  <div class="wrap">
    <div class="client-head">
      <h3>Услуги</h3>

      <p>Адвокат Кирилл Шефер обладает, среди прочего, широким опытом в следующих правовых дисциплинах:</p>

      <ul id="expertise" class="block">
        <li class="block-item left"><h4>Судебные разбирательства бизнес конфликтов</h4>

          <p>Ведение сложных судебных разбирательств во всех инстанциях, с акцентом на судебные разбирательства бизнес-конфликтов, арбитраж между
            корпорациями и частными лицами, а также административное право.</p></li>

        <li class="block-item left"><h4>Корпоративное право</h4>

          <p>Регистрация и общее юридическое сопровождение корпораций, фирм и
            ассоциаций, в том числе: подготовка и оформление всех начальных соглашений акционеров, юридическая
            консультация, управление ежегодными и периодическими собраниями, представительство в суде и
            в регулирующих органах, ликвидация фирм/ассоциаций (добровольная или через суд).</p></li>

        <li class="block-item left"><h4>Коммерческие договоренности</h4>

          <p style="margin-bottom:0;">Ведение и обеспечение выполнения различных коммерческих
            соглашений, например, и особенно:</p>
          <ul>
            <li>Хай-тек, био-тек, интеллектуальная собственность</li>
            <li>Авторские права</li>
            <li>Концессионное право</li>
            <li>Распределение</li>
            <li>Агентства</li>
            <li>Международная / Внутренняя торговля и право на эксклюзивность</li>
          </ul>
        </li>

        <li class="block-item left clear"><h4>Юридические аспекты недвижимости</h4>

          <p>Ведение сделок с недвижимостью, купля-продажа подержанных и новых квартир, частные и коммерческие договоры аренды,
            планирование и исполнение сложных сделок, ТАМА 38, эвакуация и строительство («Пинуй Бинуй»)
            и ведение группированных покупок («Квуцот Рехиша»).</p></li>

        <li class="block-item left"><h4>Трудовое<br/>право</h4>

          <p>Представительство работников и работодателей в различных трудовых конфликтах, таких как:
            незаконное увольнение и добровольная отставка, дискриминация, отказ компенсировать работника
            за сверхурочную работу и коллективные конфликты между руководством и рабочими
            профсоюзами.</p></li>

        <li class="block-item left"><h4>Коммерчески-ориентированная юридическая консультация</h4>

          <p>

            Общая и коммерчески-ориентированная юридическая консультация, для предпринимателей, компаний и различных организаций в Израиле и за рубежом, во всех
            сферах гражданского и корпоративного права, в том числе: контрактные переговоры, слияние,
            поглощение, корпоративное права, Взыскание долгов, трудовое права и т.д.

          </p></li>
      </ul>
    </div>


    <div class="clear"></div>
  </div>
</div>

<!--clients-->

<!---//end-clients----->
