---
layout: default
page_name: "Home"
title: "Kirill Shefer, Adovcate"
description: "Business Litigation, Corporate Law, Commercial Contracting, Real Estate Law, Labor Law, Business Oriented Legal Consulting"
permalink: "/"
lang: "en"
---

<!---start-services--->
<div class="services" id="about">
  <div class="process-top-grid">
    <div class="wrap">
      <div class="process-top-grid-left">
        <blockquote><p style="margin-top:0px; margin-bottom:10px;">
          &laquo;Out of clutter, find simplicity.<br/>From discord, find harmony. In the middle of difficulty
          lies opportunity.&raquo;<br/><span>Albert Einstein</span></p></blockquote>
        <img id="jerusalem" src="{{ site.url }}/images/bg_2.png"/>

        <div class="row">


          <div class="column-left">
            <p style="margin-top:0.5em;"><img src="{{ site.url }}/images/avatar.png" alt="avatar"></p>
          </div>

          <div class="column-right">

            <p class="main_text"><br/>Attorney at law Kirill Shefer has a broad international education,
              acquired from top institutions in Israel and abroad, alongside extensive professional
              experience.</p>

            <p class="main_text">
              Being fluent in English, Russian and Hebrew, in addition to complete devotion to his
              clients’ affairs, allows adv. Shefer to represent the interests of both his Israeli and
              foreign clients with the utmost effectiveness.</p>

          </div>
        </div>
        <div class="sep"></div>
        <ul class="block">
          <li class="block-item left">
            <p>Adv. Kirill Shefer was born in Moscow, Russia and made “aliyah” in 1991.
            </p>

            <p>
              Adv. Shefer is a graduate of the Haifa University Faculty of Law (LL.B.) and received
              his European Master in Law and Economics (LL.M.) degree both from the University of
              Bologna, Italy and the University of Hamburg, Germany.
            </p>

            <p>
              Throughout his academic studies, he was engaged in various volunteering activities.
              Among other things he served as a youth counselor at the “open apartments” project
              belonging to the Haifa University Student Deanship, volunteered with the “Elem”
              association and with the “Fight against poverty” movement while providing free legal
              services in a variety of fields.


            </p>
          </li>

          <li class="block-item left">
            <p>
              It was due to adv. Shefer’s academic achievements, alongside his obvious contribution to
              the community, that he was chosen to represent Haifa University in an exchange program
              with the Suffolk University Law School, Boston, U.S.A. where adv. Shefer got acquainted
              with the U.S. legal system alongside gaining practical experience working with the U.S.
              court system.
            </p>

            <p>
              Upon completing his bachelor degree in legal studies (LL.B.), he was admitted to the
              prestigious European Master in Law and Economics (EMLE) program from which he
              successfully graduated receiving a double master’s degree (LL.M.) from both the
              University of Bologna, Italy and the University of Hamburg, Germany and prepared a
              thesis (<a href="http://bucerius.haifa.ac.il/images/Completed_research/SheferKirill.pdf" target="_blank">PDF</a>).
            </p>
          </li>

          <li class="block-item left"><p>
            After completing his internship with one of Israel’s leading law firms in the field of
            commercial litigation, corporate law and real estate he was admitted to the Israeli Bar
            Association.
          </p>

            <p>
              Within the first years after being admitted to the Israeli Bar and until he founded his
              firm, adv. Shefer worked as an associate at one Israel’s leading law firms in the field
              of commercial litigation, administrative law, corporate law, labor law and real estate,
              and gained substantial experience in these fields and many others.
            </p>

            <p>
              Adv. Shefer is completely fluent in English, Russian and Hebrew.</p></li>

        </ul>

      </div>
      <!--End process-top-grid-left-->
      <div class="clear"></div>
    </div>
    <!--End top-grids-->
  </div>
  <!--End wrap-->
</div>
<!--End process-top-grid-->


<!--End services-->

<!---//end-services----->

<!---start-clients----->
<div class="clients" id="clients">
  <div class="wrap">
    <div class="client-head">
      <h3>AREAS OF EXPERTISE</h3>

      <p>Adv. Kirill Shefer has extensive experience in the following legal fields (among others):</p>

      <ul id="expertise" class="block">
        <li class="block-item left"><h4>Business litigation</h4>

          <p>Managing complex litigation proceedings in all instances, with an emphasis on business conflict litigation and
            arbitration between corporations and private entities, as well as administrative law.</p>
        </li>

        <li class="block-item left"><h4>Corporate law</h4>

          <p>Corporation &amp; Association registration and general legal
            counsel. Preparation and registration of all initial shareholder agreements, general legal
            consulting, managing annual and periodical company meetings, representation before the court
            and regulatory authorities, liquidation (voluntary or through the court).</p></li>

        <li class="block-item left"><h4>Commercial contracting</h4>

          <p style="margin-bottom:0;">Preparation and enforcement of various commercial agreements, such as and especially:</p>
          <ul>
            <li>Hi-tech, Bio-tech, IP</li>
            <li>Copyrights</li>
            <li>Concessionaire</li>
            <li>Distribution</li>
            <li>Agency</li>
            <li>International / National Trade and Exclusivity.</li>
          </ul>
        </li>

        <li class="block-item left clear"><h4>Real Estate<br>Law</h4>

          <p> Apartment sale and purchase both in the second hand and new apartment sector, private and
            commercial lease agreements, combination transactions, TAMA 38, evacuation and construction
            (“Pinuy Binuy”) and purchase groups (“Kvuzot Rechisha”).</p></li>

        <li class="block-item left"><h4>Labor<br>Law</h4>

          <p> Representing employees and employers in various labor disputes, such as: unlawful
            termination and voluntary resignation, discrimination, refusal to reimburse the employee for
            overtime and collective disputes between management and worker unions.</p></li>

        <li class="block-item left"><h4> Business oriented legal consulting:</h4>

          <p>
            Providing general and commercial business oriented legal consulting to businessmen,
            companies and various organizations in Israel and abroad, in all areas of civil and
            corporate law, such as: contractual negotiations, mergers , acquisitions, debt collection,
            labor law, etc.
          </p></li>
      </ul>
    </div>


    <div class="clear"></div>
  </div>
</div>

<!--clients-->

<!---//end-clients----->
