$yellow: #EEC670;

/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav {
  ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, top-nav, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, top-nav, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */

.txt-lt {
  text-align: left;
}

/* text align left */

.txt-center {
  text-align: center;
}

/* text align center */

.float-rt {
  float: right;
}

/* float right */

.float-lt {
  float: left;
}

/* float left */

.clear {
  clear: both;
}

/* clear float */

.pos-relative {
  position: relative;
}

/* Position Relative */

.pos-absolute {
  position: absolute;
}

/* Position Absolute */

.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
  vertical-align: top;
}

/* vertical align top */

nav {
  &.vertical ul li {
    display: block;
  }
  &.horizontal ul li {
    display: inline-block;
  }
}

/* vertical top-nav */

/* horizontal top-nav */

img {
  max-width: 100%;
}

/*end reset*/
html {
  font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
}

body {
  font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
  background: #fff;
}

.site {
  max-width: 1300px;
  margin: auto;
  margin-top: 0;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  margin-top: 3em;
}

/* start-top-header */

.container {
  /*background: url(../images/bg.png) no-repeat;
  background-size: 70% 70%;
  background-size:cover;*/
}

/* start header */

#profile {
  max-width: 100%;
  margin-top: 28px;
}

#logo {
  max-width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.lang {
  text-align: center;
  li {
    display: inline;
  }
  ul li {
    margin-bottom: 6em;
  }
  a {
    padding: 1%;
    color: #666;
    &:hover {
      color: $yellow;
    }
  }
}

#expertise {
  margin-bottom: 70px;
}

img {
  border: none;
  max-width: 100%;
}

#jerusalem {
  max-width: 100%;
}

#main_text {
  text-align: left;
}

#content {
  margin: 0 0em;
  background: #fff;
}

/* navigation bar */

#topnav {
  display: block;
  width: 100%;
  position: relative;
  h1 {
    float: left;
    padding: 2.2em 0em;
    a {
      text-decoration: none;
      padding: 1px 7px;
      display: block;
      color: #999;
      font-size: 2.5em;
      font-weight: 400;
    }
  }
  #navbtn {
    display: none;
    margin: 0 auto;
    top: 0;
    width: 32px;
    height: 32px;
    padding: 2.5em 0em;
    background: url('../images/menu-icon.png') center no-repeat;
    text-indent: -99999px;
    overflow: hidden;
  }
  nav {
    font-size: 1.4em;
    margin-left: 1%;
    ul {
      list-style: none;
      text-align: center;
      li {
        display: inline;
        /* float: left; */
        margin: 0em 0.5em;
        a {
          /* display: block; */
          font-size: 1em;
          text-transform: uppercase;
          color: #999;
          padding: 0.7em 1em;
          font-weight: 400;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
          &:hover {
            color: $yellow;
          }
        }
        &.active > a {
          color: $yellow;
        }
      }
    }
  }
}

/* footer block */

#btmnav {
  display: block;
  padding: 5px 0;
  border-top: 1px solid #cfcfcf;
  font-size: 1.1em;
  font-weight: normal;
  .credits {
    color: #999;
    line-height: 1.45em;
  }
  nav {
    padding: 9px 0;
    padding-bottom: 15px;
    ul li {
      display: inline;
      a {
        font-weight: bold;
      }
    }
  }
}

/* responsive styles */
@media screen and (max-width: 800px) {
  .lang {
    margin: 1% 0 3% 37%;
  }
  h2 {
    font-size: 2.2em;
  }
  p {
    font-size: 1.45em;
    line-height: 1.55em;
  }
  #topnav {
    h1 {
      padding: 1.4em 0em;
    }
    #navbtn {
      display: block;
      padding: 2em 0;
    }
    height: auto;
    nav {
      display: none;
      position: static;
      width: 100%;
      padding: 0;
      top: auto;
      right: auto;
      ul li {
        float: none;
        margin: 0;
        background: #f0f0f0;
        a {
          display: block;
          width: 100%;
          line-height: 1.9em;
          border: 0;
          border-radius: 0px;
          padding: 9px 9px;
          color: #303030;
          border-bottom: 1px solid rgba(90, 85, 73, 0.17);
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          background: none;
          &.sel {
            color: #6f8767;
            background: #cbdcc5;
          }
        }
      }
    }
    #navbtn {
      display: block;
      padding: 2em 0;
    }
  }
}

/*---End-top-header----*/

#services {
  background: #fff;
  text-align: left;
  width: 90%;
  margin: auto;
  border-top: solid 6px $yellow;
  box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

/*--process-grids--*/

.process-grids {
  padding: 5em 0 1em 0;
}

.top-grids {
  width: 90%;
  margin: auto;
}

.bottom-grids {
  width: 90%;
}

div.process-top-grid {
  margin-bottom: 4em;
}

.process-top-grid-left {
  float: left;
  width: 100%;
  h3 {
    font-size: 2.2em;
    color: #999;
    padding: 0.5em 0 0.5em 0;
    display: block;
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    font-weight: 500;
    text-align: center;
  }
}

.process-bottom-grid-right h3 {
  font-size: 2.2em;
  color: #999;
  padding: 0.5em 0 0.5em 0;
  display: block;
  font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-size: 1em;
  text-transform: uppercase;
  color: #000;
  padding: 0.5em 0 0em 0;
  display: block;
  font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
  margin-bottom: 0;
  font-weight: 500;
  min-height: 70px;
}

.process-top-grid-left h3 span, .process-bottom-grid-right h3 span {
  font-weight: 600;
  font-size: 1.2em;
}

.process-top-grid-left p {
  font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
  color: #666;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 0.8em;
  text-align: center;
  margin-top: 2em;
}

.process-bottom-grid-right p {
  font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
  color: #666;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 0.8em;
  text-align: center;
  margin-top: 2em;
  width: 100%;
}

.process-top-grid-right {
  float: right;
  margin-top: 2em;
  width: 32%;
  img {
    margin-left: 17%;
  }
}

.process-bottom-grid-left {
  img {
    margin-left: 19%;
  }
  float: left;
  width: 35%;
  margin-top: 1em;
  margin-left: 7%;
}

.process-bottom-grid-right {
  float: right;
  width: 90%;
}

.process-bottom-grid {
  padding: 2em 0;
  text-align: left;
  background: #FFF;
  width: 90%;
  margin: auto;
  border-top: solid 6px $yellow;
  box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

.process-btns li {
  display: inline-block;
  margin-right: 1.5em;
  a {
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    span {
      width: 32px;
      height: 32px;
      display: inline-block;
    }
  }
}

.download {
  color: #BDBCBC;
  border: 2px solid #BDBCBC;
  padding: 0.65em 2em;
  margin-top: 0.2em;
  &:hover {
    border-color: #A8A7A7;
    color: #A8A7A7;
  }
}

.info {
  display: inline-block;
  text-decoration: none;
  padding: 6px 10px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125em;
  &:hover {
    background: #E74C3C;
  }
}

.view-fifth {
  img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    opacity: 0;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  &:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.view {
  position: relative;
}

/*******************/

div#clients {
  background: #FFF;
  width: 90%;
  margin: auto;
  border-top: solid 6px $yellow;
  box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

.client-head {
  h3 {
    color: #999;
    font-size: 2.3em;
    text-align: center;
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    font-weight: 500;
    span {
      font-weight: 600;
      font-size: 1.2em;
    }
  }
  p {
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    font-size: 1.13em;
    padding: 0.5em 0;
    color: #999;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 4%;
  }
}

.clients_main {
  margin: -3% 0 0% 17%;
}

.clients_main1 {
  margin: 4% 0 0% 17%;
}

/*-----*/

.flexiselDemo3 {
  display: none;
}

.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}

.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.nbs-flexisel-inner {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 2em 0 2em;
}

.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
  cursor: pointer;
  img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 45px;
  }
}

/*--------social simptip--------*/

[data-tooltip] {
  position: relative;
  display: inline-block;
  &.simptip-position-bottom {
    &:before {
      border-bottom-color: #E47065;
    }
    &:after {
      background-color: #E47065;
      color: #000;
    }
  }
  &:before {
    content: '';
    position: absolute;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
  }
  &:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
    height: 22px;
    padding: 11px 11px 0;
    font-size: 13px;
    line-height: 11px;
    content: attr(data-tooltip);
    white-space: nowrap;
  }
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0);
  }
  &:hover {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }
  &:focus {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.simptip-position-bottom {
  &.simptip-movable {
    &:before {
      margin-top: -15px;
    }
    &:after {
      margin-top: -3px;
    }
  }
  &:before, &:after {
    left: 32%;
  }
}

.simptip-position-top {
  &:before, &:after {
    left: 32%;
  }
}

.simptip-position-bottom {
  &:before {
    top: 110%;
  }
  &:after {
    top: 110%;
    margin-left: -18px;
  }
}

.simptip-position-top:after {
  margin-left: -18px;
}

.simptip-position-right.simptip-movable {
  &:before, &:after {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
  }
}

.simptip-position-left.simptip-movable {
  &:before, &:after {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
  }
}

.simptip-position-top.simptip-movable {
  &:before, &:after {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
  }
}

.simptip-position-bottom.simptip-movable {
  &:before, &:after {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
  }
  &:hover {
    &:before, &:after {
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
    }
  }
}

/*******************/

#contact {
  background: #CCC;
  padding: 7% 0;
}

.contact-left {
  h3 {
    color: #999;
    font-size: 2.3em;
    text-align: left;
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    font-weight: 100;
    margin: -2.5em 0 0.4em 0;
    span {
      font-weight: 600;
      font-size: 1.2em;
    }
  }
  p {
    color: #fff;
    font-size: 0.99em;
    text-align: left;
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    width: 100%;
    line-height: 1.9em;
    margin-bottom: 0.9em;
  }
  width: 40%;
  float: left;
  margin-right: 20px;
  padding: 0 3%;
}

.contact-right {
  float: right;
  width: 50%;
}

.contact-left {
  margin-top: 30px;
  ul li {
    margin: 20px 0;
    a {
      font-size: 15px;
      color: #666;
    }
  }
}

.soc_icons {
  width: 100%;
  float: left;
  margin-right: 5px;
  color: #666;
  a {
    text-decoration: underline;
  }
}

.contact-left ul li a {
  &:hover {
    color: $yellow;
  }
  span {
    /*padding-left: 15px;*/
  }
}

.form {
  float: right;
  width: 100%;
  display: block;
}

div.span4 {
  margin: 1% 61%;
}

.contact {
  input[type="text"], textarea {
    padding: 14px;
    width: 45%;
    margin: 2% 2% 0 0;
    background: #fff;
    outline: none;
    color: #999999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    border: 1px solid #fff;
    -webkit-appearance: none;
    font-size: 18px;
    cursor: pointer;
  }
  input[type="text"], textarea {
    float: left;
    padding: 14px;
    width: 40%;
    margin: 2% 3% 0 0;
    background: #fff;
    outline: none;
    color: #999999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    border: 1px solid #fff;
    -webkit-appearance: none;
    font-size: 18px;
    cursor: pointer;
  }
  input[type="text"]:nth-child(2) {
    margin-right: 0em;
  }
  form textarea {
    resize: none;
    height: 170px;
    width: 88.5%;
  }
}

.submit {
  text-align: center;
  margin: 2% 0;
}

.contact-right input[type="submit"] {
  font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
  background: #999;
  color: #fff;
  font-weight: 500;
  margin-top: 1em;
  padding: 0.75em 2em;
  display: inline-block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  letter-spacing: 0.1em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  /*margin-right:26%;*/
  border-radius: 5px;
  &:hover {
    background: #666;
    border: 2px solid #FFF;
  }
}

/*******footer***/

.footer {
  background: #FFF;
  padding: 2em;
  border-top: solid 1px #CCC;
}

.copy-right {
  border-top: 1px solid $yellow;
  margin-top: -2em;
  p {
    color: #999;
    font-size: 0.95em;
    text-align: center;
    font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    margin-top: 2.4em;
    a {
      color: $yellow;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      font-weight: 600;
    }
  }
  a:hover {
    color: #999;
  }
}

/*end-footer**/
/******************/

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 23px;
  right: 10px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../images/arrow_up.png) no-repeat center;
  &:active, &:focus {
    outline: none;
  }
}

ul.social {
  width: 100%;
  text-align: left;
}

form p.ok {
  color: green;
  border: 1px solid;
  width: 90%;
  text-align: center;
  background: azure;
  padding: 10px 0;
  font-size: 20px;
  line-height: 12px;
}

/******************/
/***** Media Quries *****/
@media only screen and (max-width: 1940px) {
  .wrap {
    width: 80%;
  }
  div.grids-1 {
    width: 85%;
  }
  .client-left1 img {
    margin-left: 9%;
  }
  #topnav nav {
    font-size: 1.4em;
    margin: 0 auto;
  }
  @media only screen and (max-width: 1366px) {
    .wrap {
      width: 85%;
    }
  }
  @media only screen and (max-width: 1345px) {
    #topnav nav {
      font-size: 1.4em;
//      margin-left: 17%;
    }
    ul.social {
      width: 100%;
      text-align: left !important;
    }
  }
  @media only screen and (max-width: 1280px) {
    .wrap {
      width: 87%;
    }
    #services {
      background: #fff;
    }
    .process-bottom-grid-left img {
      margin-left: 6%;
    }
    ul.list1 li img {
      float: left;
      margin: -25px 0.5px;
    }
    div.grids-1 {
      width: 92%;
    }
    .clients_main {
      margin: -3% 0 0% 2%;
    }
    .clients_main1 {
      margin: 4% 0 0% 5%;
    }
    .client-left1 img {
      margin-left: 14%;
    }
    .client-head p {
      font-size: 1em;
      margin-bottom: 4%;
    }
    .team-info {
      width: 57%;
    }
    #contact {
      background: #f0f0f0;
      padding: 4% 0;
      border-top: solid 2px #e5e5e5;
    }
    .contact form textarea {
      resize: none;
      height: 160px;
    }
  }
  @media only screen and (max-width: 1165px) {
    #topnav nav {
      font-size: 1.4em;
      margin-left: 15%;
    }
  }
  @media only screen and (max-width: 1090px) {
    #topnav nav {
      font-size: 1.4em;
      margin-left: 10%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .wrap {
      width: 87%;
    }
    #topnav nav {
      font-size: 1.4em;
      margin-left: 10%;
    }
    .top-grids {
      width: 94%;
    }
    .process-bottom-grid {
      padding: 4em 0;
    }
    .process-bottom-grid-left img {
      margin-left: -8%;
    }
    .process-bottom-grid-right p {
      width: 100%;
    }
    .middle-bottom {
      margin-left: 7%;
    }
    .desc {
      float: left;
      width: 99.5%;
      margin-top: -6px;
      h4 {
        font-size: 1em;
        margin-left: 88px;
        margin-top: -24px;
      }
      p {
        font-size: 0.95em;
        margin-left: 88px;
      }
    }
    div {
      &#clients {
        padding: 3% 0;
      }
      &.grids-1 {
        width: 100%;
      }
    }
    .client-left1 img {
      margin-left: 11%;
    }
    .clients_main {
      margin: 0% 0 0% 2%;
    }
    .clients_main1 {
      margin: 2% 0 0% 3%;
    }
    .team-info {
      width: 66%;
    }
    .process-top-grid-left h3, .process-bottom-grid-right h3, .contact-left h3 {
      font-size: 2em;
    }
    .client-head h3, .tm-head h3 {
      font-size: 2.15em;
    }
    .tm-head-grids {
      width: 96%;
      margin: 3.3em auto 2.3em auto;
    }
    #contact {
      padding: 3% 0;
    }
    .contact-left {
      p {
        font-size: 0.96em;
      }
      ul li a span {
        /*padding-left: 9px;*/
      }
    }
    .contact {
      input[type="text"], textarea {
        width: 90%;
        padding: 12px;
      }
    }
    .contact-right input[type="submit"] {
      margin-right: 0%;
    }
    .contact form textarea {
      resize: none;
      height: 143px;
    }
  }
  @media only screen and (max-width: 1000px) {
    #topnav nav {
      ul li a {
        padding: 0.7em 0.1em;
      }
      font-size: 1.4em;
      margin-left: 20%;
    }
  }
  @media only screen and (max-width: 960px) {
    #topnav nav {
      font-size: 1.4em;
      margin-left: 15%;
      ul li a {
        padding: 0.7em 0.1em;
      }
    }
  }
  @media only screen and (max-width: 860px) {
    #topnav nav {
      font-size: 1.4em;
      margin-left: 13%;
    }
  }
  @media only screen and (max-width: 810px) {
    #topnav nav {
      font-size: 1.4em;
      margin: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    .lang {
      margin: 1% 0 3% 37%;
    }
    .soc_icons {
      width: 100%;
      float: left;
      margin-right: 5px;
    }
    #profile {
      max-width: 100%;
    }
    .wrap {
      width: 90%;
    }
    .process-top-grid-left h3, .process-bottom-grid-right h3, .contact-left h3 {
      font-size: 1.8em;
    }
    .process-top-grid-left p, .process-bottom-grid-right p {
      font-size: 0.96em;
    }
    .process-top-grid-left h3 span, .process-bottom-grid-right h3 span {
      font-size: 1.1em;
    }
    .process-top-grid-right img {
      margin-left: 0%;
    }
    .desc p {
      font-size: 0.9em;
    }
    div#clients {
      padding: 6% 0;
    }
    .clients_main, .clients_main1 {
      text-align: center;
    }
    .client-left, .client-left1, .client-right {
      float: none;
      width: 100%;
    }
    .grid_info, .grid_info1 {
      float: none;
      width: 100%;
      text-align: center;
      padding: 0.5em;
    }
    .grid_info p, .grid_info1 p {
      width: 80%;
    }
    .client-left1 img {
      margin-left: 0%;
      margin-top: 6%;
    }
    .grid_info:before {
      border: 20px solid #eee;
      border-top: 0 solid rgba(0, 0, 0, 0) !important;
      border-right: 15px solid rgba(0, 0, 0, 0) !important;
      border-left: 15px solid rgba(0, 0, 0, 0) !important;
      left: 47%;
      top: -19px;
    }
    .grid_info1:after {
      border: 20px solid #eee;
      border-bottom: 0 solid rgba(0, 0, 0, 0) !important;
      border-right: 15px solid rgba(0, 0, 0, 0) !important;
      border-left: 15px solid rgba(0, 0, 0, 0) !important;
      left: 47%;
      top: 161px;
    }
    .tm-head h3 span {
      font-size: 1.15em;
    }
    .tm-head-grids {
      width: 100%;
      margin: 3.3em auto 2.3em auto;
    }
    .team-info {
      width: 91%;
      font-size: 0.968em;
    }
    .contact-left {
      h3 {
        font-size: 2.3em;
        text-align: left;
        margin-top: 1em;
      }
      p {
        font-size: 0.973em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3%;
      }
      width: 100%;
      float: none;
    }
    .contact-right {
      width: 100%;
      float: none;
    }
    .contact-left ul li a {
      /*margin-left: 18%;*/
    }
    .form {
      float: none;
      width: 100%;
      display: block;
      margin-left: 3%;
    }
    .contact-right input[type="submit"] {
      padding: 0.75em 5em;
    }
    #topnav nav ul li a {
      padding: 0.37em 0.5em;
      text-align: center;
      font-size: 1.05em;
    }
    .contact {
      input[type="text"], textarea {
        margin: 3% 2% 0 0;
      }
    }
  }
  @media only screen and (max-width: 640px) {
    .lang {
      margin: 1% 0 3% 36%;
    }
    .wrap {
      width: 95%;
    }
    .process-top-grid-left, .process-top-grid-right, .process-bottom-grid-left, .process-bottom-grid-right {
      float: none;
      width: 100%;
      margin-top: 1em;
      text-align: center;
    }
    .process-top-grid-right img {
      margin-right: 29%;
    }
    .process-top-grid-left h3, .process-bottom-grid-right h3 {
      font-size: 1.6em;
      float: none;
      text-align: center;
    }
    .contact-left h3 {
      font-size: 1.6em;
      float: none;
      text-align: center;
      font-size: 1.6em;
      float: none;
      text-align: center;
    }
    .process-top-grid-left p {
      font-size: 0.9em;
      text-align: center;
    }
    .process-bottom-grid-right p {
      font-size: 0.9em;
      text-align: center;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    .process-bottom-grid {
      padding: 4em 2em 4em 2em;
    }
    .desc p {
      font-size: 0.845em;
    }
    div#clients {
      padding: 4% 0;
    }
    .client-head h3, .tm-head h3 {
      font-size: 1.8em;
    }
    .grid_info p {
      font-size: 0.95em;
      padding: 0.9em;
      width: 92%;
    }
    .grid_info1 {
      p {
        font-size: 0.95em;
        padding: 0.9em;
        width: 92%;
      }
      &:after {
        top: 133px;
      }
    }
    .tm-head-grid {
      width: 100%;
      text-align: center;
      float: none;
      padding-bottom: 2em;
    }
    .team-info {
      width: 98%;
      font-size: 0.968em;
      margin-top: -2em;
    }
    .team-members {
      padding: 3% 0;
    }
    #contact {
      padding: 1% 0;
    }
    .contact {
      input[type="text"], textarea {
        font-size: 16px;
        margin: 3% 2% 0 0;
      }
      form textarea {
        resize: none;
        height: 130px;
      }
    }
    .contact-right input[type="submit"] {
      font-size: 0.97em;
    }
  }
  @media only screen and (max-width: 580px) {
    .lang {
      margin: 1% 0 3% 35%;
    }
  }
  @media only screen and (max-width: 480px) {
    .contact-left {
      width: 100% !important;
      padding: 0;
      text-align: center !important;
    }
    .lang {
      margin: 0 auto;
    }
    .wrap {
      width: 90%;
      margin: 0 auto;
    }
    #services {
      padding: 0em 0;
    }
    .process-top-grid-left h3 span, .process-bottom-grid-right h3 span {
      font-size: 1em;
    }
    .process-top-grid-left p, .process-bottom-grid-right p {
      font-size: 0.88em;
      /*overflow: hidden;
      height: 30px;*/
    }
    .process-bottom-grid {
      padding: 0em 0;
    }
    .process-bottom-grid-right p {
      width: 100%;
      margin-left: 0%;
      font-size: 0.844em;
    }
    .top-grids {
      width: 93%;
      text-align: center;
    }
    .span_1_of_2 {
      width: 100%;
      float: none;
    }
    ul.list1 {
      text-align: center;
      margin-right: 0%;
      li img {
        float: none;
        margin: 5px 0px;
      }
    }
    .desc {
      float: none;
      width: 100%;
      margin-top: 2px;
      text-align: center;
      h4 {
        font-size: 1em;
        margin-left: 0px;
        margin-top: 0px;
      }
      p {
        width: 56%;
        height: 44px;
        overflow: hidden;
      }
    }
    .col_1_of_2 {
      display: block;
      float: none;
      margin: 0%;
    }
    div.process-top-grid {
      margin-bottom: 0em;
    }
    .process-bottom-grid-left img {
      width: 55%;
    }
    .process-top-grid-right img {
      margin-right: 0%;
      width: 40%;
    }
    .bottom-grids {
      width: 100%;
    }
    .middle-bottom {
      margin-left: 0%;
    }
    .client-head h3, .tm-head h3 {
      font-size: 1.7em;
    }
    .client-head {
      h3 span {
        font-size: 1.05em;
      }
      p {
        font-size: 0.97em;
      }
    }
    .grid_info, .grid_info1 {
      float: none;
      width: 93%;
    }
    .grid_info p {
      font-size: 0.912em;
      padding: 0.3em;
      width: 92%;
    }
    .grid_info1 {
      p {
        font-size: 0.912em;
        padding: 0.3em;
        width: 92%;
      }
      &:after {
        top: 115px;
      }
    }
    .tm-head-grids {
      width: 100%;
      margin: 1em auto 2.3em auto;
    }
    .team-info {
      width: 87%;
      font-size: 0.9em;
      margin-bottom: 0em;
    }
    .form {
      margin-left: 2%;
    }
    .contact-left p {
      font-size: 0.96em;
      margin-bottom: 2%;
    }
    .contact {
      input[type="text"], textarea {
        font-size: 15px;
        margin: 3% 2% 0 0;
        padding: 9px;
      }
      form textarea {
        resize: none;
        height: 106px;
      }
    }
    .contact-right input[type="submit"] {
      font-size: 0.8em;
      padding: 10px 43px;
    }
    .footer {
      padding: 0.5em;
    }
    .copy-right p {
      color: #999;
      font-size: 0.843em;
    }
    #toTop {
      bottom: 2px;
    }
    #topnav nav ul li a {
      padding: 0.3em 0.5em;
      text-align: center;
      font-size: 1.03em;
    }
    .grid_info h4, .grid_info1 h4 {
      font-size: 0.93em;
    }
    .process-bottom-grid-left {
      width: 80%;
    }
    .process-bottom-grid {
      padding: 1.3em 0;
    }
    div.process-top-grid {
      padding: 0.5em 0;
    }
    ul.block li.block-item {
      color: #666;
      display: inline !important;
      float: left;
      width: 100% !important;
      min-height: 270px;
    }
  }
  @media only screen and (max-width: 400px) {
    .lang {
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 320px) {
    .lang {
      /*margin: 1% 0 3% 28%;*/
    }
    .wrap {
      width: 95%;
    }
    #topnav nav ul li a {
      padding: 0.1em 0.5em;
      text-align: center;
      font-size: 1em;
    }
    .process-top-grid-left p {
      font-size: 0.8525em;
    }
    .process-bottom-grid-right p {
      font-size: 0.8525em;
      width: 99%;
    }
    .process-top-grid-left h3 span {
      font-size: 0.88em;
    }
    .process-bottom-grid-right {
      h3 span {
        font-size: 0.88em;
      }
      float: none;
      width: 100%;
      margin-top: 0em;
    }
    .desc {
      p {
        width: 38%;
      }
      h4 {
        font-size: 1.2em;
      }
    }
    .client-head h3, .tm-head h3 {
      font-size: 1.5em;
    }
    .client-head p, .tm-head p {
      font-size: 0.9em;
    }
    .grid_info p, .grid_info1 p {
      font-size: 0.8425em;
      padding: 0em;
      width: 100%;
    }
    .grid_info h4 a, .grid_info1 h4 a {
      font-size: 0.9em;
    }
    .contact-left {
      p {
        font-size: 0.8625em;
      }
      h3 span {
        font-size: 1.1em;
      }
    }
    .team-info {
      width: 96%;
      font-size: 0.8525em;
      margin-bottom: 0em;
      overflow: hidden;
      height: 52px;
    }
    .contact-left ul li a {
      font-size: 12px;
      margin-left: 5%;
    }
    .contact {
      form textarea {
        resize: none;
        height: 93px;
      }
      input[type="text"], textarea {
        font-size: 13px;
        margin: 3% 2% 0 0;
        padding: 7px;
      }
    }
    .contact-right input[type="submit"] {
      font-size: 0.8em;
      padding: 9px 28px;
    }
    .grid_info1:after {
      top: 100px;
    }
    ul.social li.block-item {
      color: #666;
      display: inline;
      float: none !important;
      padding: 0px 30px 0px 0px;
    }
  }
  /* end- Media Quries */
  .row {
    display: block;
    width: 100%;
    float: left;
  }
  .column-left {
    width: 33%;
    float: left;
    text-align: center;
    img {
      width: 55%;
      height: auto;
      margin-top: 2em;
      border: 2px solid $yellow;
      border-radius: 50%;
      padding: 1%;
    }
  }
  .column-right {
    width: 66%;
    float: right;
  }
  .process-top-grid-left .column-right p {
    text-align: left;
  }
  ul {
    &.block {
      ul {
        li {
          margin-left: 20px;
          font-size: 0.9em;
          color: #999;
        }
        list-style-type: circle;
        color: #999;
      }
      list-style-type: none;
      width: 100%;
      margin: 0;
      padding: 0;
      float: left;
    }
    &.social {
      width: 100%;
      /* text-align: center !important; */
    }
    &.block li.block-item {
      color: #666;
      display: inline !important;
      float: left !important;
      width: 30%;
      min-height: 270px;
    }
    &.social li.block-item {
      color: #666;
      display: inline;
      /*float: none !important;*/
      padding: 0px 15px 0px 0px;
    }
    &.block li {
      img {
        width: 100%;
        height: auto;
      }
      &.left {
        margin-right: 2%;
      }
      &.middle {
        margin-left: 1%;
        margin-right: 1%;
      }
      &.right {
        margin-left: 2%;
      }
      p {
        text-align: left;
        font-size: 1em;
        margin-top: 0;
      }
    }
  }
  h4 {
    text-align: center;
    font-size: 1.5em;
  }
  .contact-left {
    width: 100%;
    padding: 0;
    text-align: center;
    width: 40%;
    padding: 0;
    text-align: left;
  }
  .sep {
    width: 100%;
    height: 2px;
    float: left;
    display: block;
    background: #E5E5E5;
    margin-bottom: 2em;
  }
  .process-top-grid-left blockquote {
    font-size: 1em;
    font-style: italic;
    color: #999999;
    margin-bottom: 0;
    p {
      font-size: 1em;
      font-style: italic;
      color: #999999;
      margin-bottom: 0;
    }
  }
  .he .process-top-grid-left blockquote {
    direction: ltr;
  }
  .process-top-grid-left blockquote {
    p {
      direction: ltr;
    }
    span {
      font-size: 0.8em;
      font-style: normal;
    }
  }
  .he {
    direction: rtl;
    .contact-left {
      /*width: 100%;*/
      float: left;
      margin: 0 auto;
      padding: 0;
      font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
    }
    .contact-right {
      width: 50%;
    }
    .contact-left {
      margin-top: 30px;
      h3 {
        /*text-align: center;*/
      }
    }
    h4 {
      font-size: 1.3em;
    }
    ul.block li p {
      text-align: right;
    }
    .client-head h3 {
      font-size: 2.5em;
    }
    ul.block li.block-item {
      float: right;
    }
    #main_text {
      text-align: right;
    }
    .column-right {
      float: left;
    }
    .column-left {
      float: right;
    }
    .lang {
      text-align: center;
    }
  }
  .lang a {
    padding: 1%;
    color: #666;
  }
  .he {
    #topnav nav {
      margin: 0;
      float: right;
      width: 100%;
      font-family: "Alef", "Lucida Sans Unicode", Helvetica, arial, sans-serif !important;
      ul li {}
    }
    ul.block ul li {
      list-style-position: inside;
    }
  }
}

@media only screen and (max-width: 480px) {
  ul.social {
    width: 100%;
    text-align: center !important;
  }
  .he .contact-right {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1940px) {
  ul.social {
    width: 100%;
    /*text-align: left !important;*/
  }
}
